.about-me-container {
  .about-me-card {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      overflow: auto;
      flex-wrap: nowrap;
    }
  }
}
