.works-container {
  .works-inner {
    position: relative;
    @media screen and (min-width: 768px) {
      margin-top: 8%;
    }

    .action-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #fff;
      border-top: none;
      min-height: 4rem;
      & > div {
        flex: 1;
      }
      @media screen and (max-width: 767px) {
        span {
          font-size: 0.75rem;
        }
      }

      .arrows-wrapper {
        display: flex;
        gap: 0.25rem;
        justify-content: flex-end;

        @media screen and (max-width: 767px) {
          display: none;
        }

        button {
          width: 4.875rem;
          height: 4.5625rem;
          border: 1px solid #fff;
          background: #fff;
          cursor: pointer;

          &:hover {
            background: #39ffc4;
          }
        }
      }
    }

    .button-container {
      position: absolute;
      right: 7rem;
      bottom: 10rem;
      transition: all 0.2s ease-in-out;

      @media screen and (max-width: 767px) {
        right: 1.25rem;
        bottom: 1.25rem;
        display: none;
      }

      &.animating {
        opacity: 0;
      }
    }
    .slick-track {
      display: flex;

      .slick-slide {
        display: flex;
        height: auto;
        align-items: center; //optional
        justify-content: center; //optional

        & > div {
          height: 100%;
        }
      }
    }

    .slick-dots {
      width: auto;
      bottom: -2.2rem;
      left: 1rem;
      @media screen and (min-width: 768px) {
        text-align: left;
        bottom: -2.5rem;
        left: 0.75rem;
        width: 30%;
      }
      li {
        width: 10px;
        height: 10px;

        @media screen and (min-width: 768px) {
          width: 5px;
          height: 5px;
        }
        @media screen and (max-width: 767px) {
          margin: 0;
        }
        button {
          &:before {
            opacity: 1;
            color: #fff;
          }
        }

        &.slick-active button::before {
          color: #39ffc3;
        }
      }
    }
  }
}
