.intro-container {
  text-align: center;
  position: relative;

  img {
    object-fit: cover;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .text-container {
    text-align: center;
    margin-top: -38%;
  }

  h1 {
    color: #fff;
    font-family: Impact;
    font-size: 9.50819rem;
    font-weight: 400;
    line-height: normal;
    @media screen and (max-width: 767px) {
      font-size: 3.125rem;
      line-height: 98%; /* 3.0625rem */
      max-width: 10rem;
      margin: auto;
    }
  }

  .brand-name {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Poppins";
    font-size: 1.42831rem;
    @media screen and (max-width: 767px) {
      font-size: 0.75rem;
      font-weight: 400;
      margin-top: 0.75rem;
    }
  }

  .about-brand {
    color: #fff;
    text-align: center;
    font-family: "Poppins";
    font-size: 2rem;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    margin: 3.5rem 0;

    @media screen and (max-width: 767px) {
      font-size: 0.75rem;
      margin: 0.75rem 0;
    }
  }
}
